# Dependencies
node_modules/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Environment
.env
.env.local
*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
